h1{ color: green }

p#primer_parrafo{ 
    font-family: sans-serif;
    color: blue;
}

p{
    font-family: sans-serif;
    color: red;
}

li{
    background-color: greenyellow;
    border: 1px solid black;
    margin-bottom: 5px;
}

.li-grande{
    font-size: 3.5em;
}

a[title = "Dormir"]{
    color: orange;
    font-size: ;
}


